#Конфигурация
SECRET_KEY

POSTGRES_DB-имя базы данных

POSTGRES_USER-пользователь базы данных

POSTGRES_PASSWORD-пароль базы данных

POSTGRES_HOST-хост базы данных

POSTGRES_PORT-порт базы данных

MAIL_EMAIL_HOST - хост почтового сервера

MAIL_EMAIL_PORT - порт почтового сервера

MAIL_EMAIL_HOST_PASSWORD - пароль для подключения к почтовому серверу

MAIL_EMAIL_HOST_USER - пользователь для подключения к почтовому серверу

STRIPE_API_KEY - API key  с сайта https://dashboard.stripe.com/

CELERY_RESULT_BACKEND  - настройка в Celery, которая указывает хранилище результатов задач.

CELERY_BROKER_URL - URL брокера сообщений